.main_body
{
    background: radial-gradient(circle,green,yellow) ;
    border-radius: 10pc;
}


.form
{
    display: inline-block;
    margin-left: 35%;
    margin-top: 35%;
    border-radius: 7px;
    padding: 10px;
    justify-content: center;
    scroll-behavior: smooth;
}
input
{
    border-radius:5px;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 20px;
    
}
input::placeholder
{
    padding-left: 3px;
    color : gray;
    opacity: 0.8;
}


